// Override Variables
$font-family-base: "Instrument Serif", serif;

$btn-font-style: italic;
$btn-border-radius: 999rem;
$btn-padding-y: 0.1rem;
$btn-padding-x: 1.5rem;
$btn-font-size: 1.2rem;

$body-bg: #fcfbf9;
$light: #fcfbf9;
$primary: #333;
$secondary: #eb9c35;
$info: #f2efd5;

$form-range-track-height: 0.3rem;
$form-range-track-bg: #333;

// Import Bootstrap
@import "bootstrap/scss/bootstrap";

/* Scroll-Snap auf dem Viewport aktivieren */
html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; /* optional, aber praktisch für Anker */
}

p {
  font-family: "Instrument Sans", sans-serif;
}
/* Jede Section füllt den Bildschirm und ist Snap-Punkt */
.page-section {
  min-height: 100svh; /* sicheres 100vh auf Mobile */
  scroll-snap-align: start;
  overflow: hidden;
}

.btn {
  font-style: italic;
}

.navbar {
  position: sticky;
  top: 0;
  font-size: 1.5rem;
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-thickness: 1px;
}

.navbar.transparent {
  background-color: transparent !important;
  box-shadow: none !important;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#loop-station,
#home {
  background: url("/be-alright/background.png") center center / cover no-repeat;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 25%; /* Abstand von oben, z. B. unter Navbar */
  left: 8%; /* etwas vom Rand weg */
  width: 450px; /* feste oder max Breite */
  max-height: 80vh; /* begrenzt die Höhe */
  background: #fcfbf9;
  border-radius: 0.75rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  /* Start: ausgeblendet */
  transform: translateX(-200%);
  transition: transform 0.3s ease;

  z-index: 1050;
  padding: 1.5rem;
  overflow-y: auto;
}

.sidebar.active {
  transform: translateX(0);
}

.loop-btn {
  width: 250px;
}

/* Backdrop */
.sidebar-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1040; /* unter Sidebar, über Content */
}

.sidebar-backdrop.show {
  opacity: 1;
  pointer-events: auto;
}

.btn:hover {
  color: #fff;
}

strong {
  font-family: "Instrument Serif", serif;
  font-size: 2rem;
  color: $secondary;
}
